{% extends "base.html" %}
{% block title %}Додати новий стіл{% endblock %}

{% block content %}

<h1>Додати новий стіл</h1>
<div class="decor-line"></div>

<form method="POST" class="mt-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label>Кількість місць:</label>
    <input type="number" name="seats" class="form-control mb-3" required>

    <label>Локація (зала):</label>
    <input type="text" name="location" class="form-control mb-3">

    <button class="btn btn-custom mt-3">Додати стіл</button>

</form>

{% endblock %}