{% extends "base.html" %}
{% block title %}Відновлення паролю{% endblock %}

{% block content %}

<h1>Встановлення нового паролю</h1>
<div class="decor-line"></div>

<p class="mb-4">Введіть новий пароль для вашого акаунту.</p>

<form method="POST" class="mt-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label>Новий пароль:</label>
    <input type="password" name="password" class="form-control mb-3" required minlength="8">

    <label>Підтвердіть пароль:</label>
    <input type="password" name="confirm_password" class="form-control mb-3" required minlength="8">

    <button class="btn btn-custom w-100">Змінити пароль</button>

</form>

<div class="mt-3">
    <small class="text-muted">
        Пароль повинен містити щонайменше 8 символів, включаючи велику літеру, малу літеру, цифру та спеціальний символ.
    </small>
</div>

{% endblock %}